.sendMailButton, .pasteMailButton {
	cursor: pointer;
	background-repeat: no-repeat;
	display: inline-block;
	z-index: 0 !important;
}

.sendMailButton {
	right: 14px;
	top: 47px;
	position: absolute;
	background-image: url('chrome-extension://__MSG_@@extension_id__/resources/mail.png');
}

.template1 {
	background-image: url('chrome-extension://__MSG_@@extension_id__/resources/template1.png');
}

.template2 {
	background-image: url('chrome-extension://__MSG_@@extension_id__/resources/template2.png');
}

.template3 {
	background-image: url('chrome-extension://__MSG_@@extension_id__/resources/template3.png');
}

.template4 {
	background-image: url('chrome-extension://__MSG_@@extension_id__/resources/template4.png');
}

.sendMailButton img, .pasteMailButton img {
	height: 36px;
	width: 36px;
	cursor: pointer;
}